/* 
 * roots table
 */

table
{
	border-collapse: collapse;
	border-top: solid 3px #aaa;
	position: relative;
	width: 100%;
}

th, td
{
	vertical-align: top;
	line-height: 18px;
	padding: 3px 18px 2px 0;
}

thead th, thead td { padding-top: 1px; }
tfoot th, tfoot td { padding-bottom: 1px; }
tbody th, tbody td, tfoot th, tfoot td { border-top: solid 1px #aaa; }
tfoot td { border-bottom: solid 1px #aaa; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }
tbody tr:nth-child(even) td { background: rgba(0, 0, 0, 0.04); }
tbody tr:nth-child(odd) td { background: rgba(0, 0, 0, 0.08); }
caption { margin: 12px 0 6px 0; }
