/* 
 * roots essential styles copied from drupal modules
 */

/**
 * block/block.css ====================================================
 */

#blocks td.region { font-weight: bold; }
#blocks tr.region-populated { display: none; }

/**
 * dblog/dblog.css ====================================================
 */

tr.dblog-user { background: #ffd; }
tr.dblog-content { background: #ddf; }
tr.dblog-page-not-found { background: #dfd; }
tr.dblog-access-denied { background: #dfd; }
tr.dblog-error { background: #ffc9c9; }

/**
 * locale/locale.css ====================================================
 */

.locale-untranslated
{
	font-style: normal;
	text-decoration: line-through;
}

/**
 * openid/openid.css ==================================================
 */

div#edit-openid-identifier-wrapper { display: block; }
html.js #user-login-form div#edit-openid-identifier-wrapper, html.js #user-login div#edit-openid-identifier-wrapper { display: none; }
html.js #user-login-form li.openid-link, html.js #user-login li.openid-link { display: block; }
#user-login-form li.openid-link, #user-login-form li.user-link, #user-login li.openid-link, #user-login li.user-link { display: none; }

/**
 * system/system.css ==================================================
 */

body.drag { cursor: move; }
th.active img { display: inline; }
td.checkbox, th.checkbox { text-align: center; }
.error { color: #e55; }
.warning { color: #e09010; }
.ok { color: #008000; }
div.error { border: 1px solid #d77; }
div.warning { border: 1px solid #f0c020; }
div.ok { border: 1px solid #00aa00; }

div.error, tr.error
{
	background: #fcc;
	color: #200;
}

div.warning, tr.warning
{
	background: #ffd;
	color: #220;
}

div.ok, tr.ok
{
	background: #dfd;
	color: #020;
}

.form-item input.error, .form-item textarea.error, .form-item select.error
{
	border-style: solid;
	border-color: red;
}

.form-item label
{
	display: block;
	font-weight: bold;
}

.form-item label.option
{
	display: inline;
	font-weight: normal;
}

.marker, .form-required { color: #f00; }
.more-link, .more-help-link { text-align: right; }
.nowrap { white-space: nowrap; }

.item-list .pager
{
	clear: both;
	text-align: center;
}

.item-list .pager li { display: inline; }
.pager-current { font-weight: bold; }
dl.multiselect dt, dl.multiselect dd { float: left; }
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select { width: 14em; }
dl.multiselect dd.a, dl.multiselect dd.a .form-item { width: 8em; }
.container-inline div, .container-inline label { display: inline; }

#autocomplete
{
	position: absolute;
	border: 1px solid;
	overflow: hidden;
	z-index: 100;
}

#autocomplete li
{
	background: #fff;
	white-space: pre;
	cursor: default;
}

#autocomplete li.selected
{
	background: #0072b9;
	color: #fff;
}

html.js input.throbbing { background: transparent url('../img/drupal/throbber.gif') 100% 50% no-repeat; }
.resizable-textarea { width: 95%; }

.resizable-textarea .grippie
{
	height: 9px;
	overflow: hidden;
	background: #eee;
	border: 1px solid #ddd;
	border-top: 0px;
	cursor: s-resize;
}

html.js .resizable-textarea textarea
{
	margin-bottom: 0px;
	width: 100%;
	display: block;
}

.draggable a.tabledrag-handle
{
	cursor: move;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

a.tabledrag-handle:hover { text-decoration: none; }

a.tabledrag-handle .handle
{
	height: 20px;
	width: 20px;
	background: url('../img/drupal/draggable.png') 0px 0px no-repeat;
}

a.tabledrag-handle-hover .handle { background-position: 0px -20px; }

div.indentation
{
	width: 20px;
	height: 20px;
	float: left;
}

div.tree-child { background: url('../img/drupal/tree.png') no-repeat 10px 50%; }
div.tree-child-last { background: url('../img/drupal/tree-bottom.png') no-repeat 10px 50%; }
div.tree-child-horizontal { background: url('../img/drupal/tree.png') no-repeat -10px 50%; }

.joined + .grippie
{
	height: 5px;
	margin-bottom: -2px;
}

.teaser-checkbox { padding-top: 1px; }

div.teaser-button-wrapper
{
	float: right;
	padding-right: 5px;
}

.teaser-checkbox div.form-item
{
	float: right;
	margin-right: 5px;
}

textarea.teaser { display: none; }
html.js .no-js { display: none; }
.progress { font-weight: bold; }

.progress .bar
{
	background: #fff url('../img/drupal/progress.gif');
	border: 1px solid #035;
	height: 18px;
}

.progress .filled
{
	background: #07b;
	height: 18px;
	width: 0%;
}

.progress .percentage { float: right; }
.progress-disabled { float: left; }
.ahah-progress { float: left; }

.ahah-progress .throbber
{
	width: 20px;
	height: 20px;
	background: transparent url('../img/drupal/throbber.gif') 50% 50% no-repeat;
	float: left;
}

.ahah-progress-bar { width: 16em; }
#first-time strong { display: block; }
tr.selected td { background: #ffc; }

table.sticky-header
{
	margin-top: 0px;
	background: #fff;
}

#clean-url.install { display: none; }
html.js .js-hide { display: none; }
#system-modules div.incompatible, #system-themes-form div.incompatible { font-weight: bold; }
span.password-strength, span.password-confirm { visibility: hidden; }
div.password-description { max-width: 500px; }

/**
 * update/update.css ==================================================
 */

.update .project, .update table.version-recommended-strong .version-title { font-weight: bold; }
.update .version-status { float: right; }
.update .version-status .icon { padding-left: 10px; }
.update .version-date { white-space: nowrap; }
.update tr.error .version-recommended { background: #fdd; }
.update tr.warning .version-recommended { background: #ffe; }
.current-version,.new-version { direction: ltr; }
.update tr.unknown { background: #ddd; }
.update table.version-security .version-title { color: #910; }
.update .security-error { color: #910; }

/**
 * user/user.css ======================================================
 */

#permissions td.module { font-weight: bold; }
#permissions td.permission { padding-left: 20px; }
