/* 
 * roots print style
 */

body
{
	font-family: arial, sans-serif;
	font-size: 9pt;
	line-height: 15pt;
	margin: 0pt;
	padding: 0pt;
}

a
{
	color: #000;
	text-decoration: none;
}

div.comment-links, div.node-links, ul.links, div.page-links, div.box, div.picture, form { display: none; }

ul.inline, ul.inline li, ul.inline li a
{
	float: none;
	display: inline;
}

div.limiter { max-width: 50em; }

/*
 * filtered text ======================================================
 */

.prose a
{
	font-style: italic;
	border-bottom: 1pt solid #ccc;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6, .prose p, .prose ul, .prose ol, .prose blockquote { margin: 0pt 0pt 15pt; }

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6
{
	border-bottom: 1pt solid #ccc;
	padding-bottom: 5pt;
	font-weight: normal;
	font-size: 11pt;
}

.prose h1 { font-size: 15pt; }
.prose h2 { font-size: 13pt; }
.prose ol li, .description ol li { list-style: decimal; }

.prose img
{
	page-break-inside: avoid;
	display: block;
}

/**
 * page layout ======================================================
 */

div.print-header
{
	font-family: arial, sans-serif;
	clear: both;
	border-bottom: 1pt solid #ccc;
	padding: 0pt 0pt 10pt;
	margin: 0pt 0pt 10pt;
	line-height: 20pt;
}

div.print-header img.logo
{
	display: block;
	height: 20pt;
}

#footer
{
	font-size: 7pt;
	font-family: arial, sans-serif;
	clear: both;
	border-top: 1pt solid #ccc;
	padding: 10pt 0pt 0pt;
	margin: 10pt 0pt 0pt;
	line-height: 20pt;
}

/**
 * node ======================================================
 */

.node-title
{
	line-height: 20pt;
	font-size: 18pt;
	letter-spacing: -0.5pt;
	font-weight: normal;
	margin: 0pt 0pt 10pt;
}

.node-title a { text-decoration: none; }

div.node-submitted, div.comment-submitted
{
	margin: 10pt 0pt;
	color: #666;
	font-family: arial, sans-serif;
	font-size: 7pt;
}

div.node .footer
{
	margin: 10pt 0pt;
	font-size: 6pt;
}

div.comment
{
	border-top: 1pt solid #ccc;
	padding: 10pt 0pt;
}

h6.comments-title
{
	padding: 10pt 0pt;
	font-size: 9pt;
	font-family: arial, sans-serif;
}

.comment-title
{
	font-size: 13pt;
	font-weight: normal;
}

.node .field-label { display: inline; }
.node .field { margin: 10pt 0pt; }

/**
 * table ======================================================
 */

table
{
	border-collapse: collapse;
	width: 100%;
}

table th { font-family: arial, helvetica, sans-serif; }

table th, table td
{
	font-size: 9pt;
	padding: 5pt 10pt;
	border: 1pt solid #ccc;
}

/**
 * print preview ======================================================
 */

@media screen
{
	body
	{
		background: #f8f8f8;
		padding: 100px 0px;
	}
	
	div.limiter
	{
		background: #fff;
		padding: .5in;
		width: 7in;
		border: 5pt solid #eee;
	}
}
