/* 
 * roots form
 */

form
{
	margin: 12px 0;
	clear: both;
}

fieldset
{
	background: rgba(0, 0, 0, 0.04);
	margin: 12px 0;
}

.fieldset-content { padding: 12px; }

legend
{
	font-size: 1em;
	line-height: 1;
	font-weight: bold;
	display: block;
}

input.form-text, select, textarea { border: 1px solid #ccc; }
input.form-submit, label { font-weight: bold; }
input.form-submit { cursor: pointer; }
input.form-radio, input.form-checkbox { vertical-align: middle; }

.form-item .description, .description
{
	color: #666;
	font-size: .916em;
}

fieldset.collapsible .fieldset-title { cursor: pointer; }
html.js fieldset.collapsed .fieldset-content { display: none; }
