/* 
 * roots type
 * the prose class marks filtered text (assumed content)
 */

body
{
	font: 12px sans-serif;
	*font-size: small;
	*font: x-small;
	line-height: 1.5;
	color: #333;
	font-weight: 300;
}

.prose h1
{
	font-size: 2em;
	line-height: 1.0;
	font-weight: normal;
	margin-bottom: 12px;
}

.prose h2
{
	font-size: 1.5em;
	line-height: 1.0;
	margin-top: 24px;
	margin-bottom: 12px;
}

.prose h3
{
	font-size: 1.5em;
	line-height: 1.0;
	margin-top: 12px;
	margin-bottom: 6px;
	color: #666;
}

.prose h4
{
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	margin-top: 18px;
}

.prose h5, .prose h6
{
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	margin-top: 18px;
	color: #666;
}

.prose p, .pros pre, .pros address { font-size: 1.0em; }
.pros em { font-style: italic; }

.prose ul
{
	padding-left: 1.5em;
	list-style: disc;
	margin-bottom: 1.5em;
}

.prose ol
{
	padding-left: 1.5em;
	list-style: decimal;
	margin-bottom: 1.5em;
}

.prose ul, .prose ol, .prose dl, .prose dialog
{
	font-size: 1.0em;
	line-height: 1.5;
	margin-top: 18px;
	margin-bottom: 18px;
}

.prose li ul, .prose li ol, .prose ul ul, .prose ol ol
{
	margin-top: 0;
	margin-bottom: 0;
}

.prose dt { font-weight: bold; }
.prose small { font-size: 11px; }
.prose abbr, .prose code, .prose kbd,
.prose samp, .prose small, .prose var { line-height: 15px; }

.prose caption
{
	font-size: 13px;
	line-height: 18px;
	position: relative;
}

.prose hr
{
	position: relative;
	height: 0;
	margin: 18px 0 17px 0;
}

.prose blockquote
{
	padding: 18px 1em;
	border-left: 3px solid #ccc;
	font-size: 1.5em;
	line-height: 1.0;
	font-style: italic;
	font-family: serif;
	margin-top: 18px;
	margin-bottom: 18px;
}
