/* 
 * roots base tricks [kudos http://html5boilerplate.com for the collection]
 */

/* optimized rendering in webkit [maxvoltar.com/sandbox/fontsmoothing] */
html { -webkit-font-smoothing: antialiased; }

/* force vertical scrollbar to avoid jumping when layout is centered */
html { overflow-y: scroll; }

/* font normalization [developer.yahoo.com/yui/] */
body, select, input, textarea { color: #333; }

table
{
	font-size: inherit;
	font: 100%;
}

select, input, textarea { font: 99% sans-serif; }

/* improved handling of kerning pairs and ligatures [www.aestheticallyloyal.com/public/optimize-legibility/] */
h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; }

/* force higher quality in image resampling [boilerplate] */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* basic link style */
a:hover, a:active
{
	outline: none;
	text-decoration: underline;
}

a, a:active, a:visited
{
	color: #06c;
	text-decoration: none;
}

a:hover { color: #f0f; }

/* tap highlite [j.mp/webkit-tap-highlight-color] */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* basic type styles */
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

pre
{
	white-space: pre-line;
	word-wrap: break-word;
}

/* align sub / sap to the baseline grid */
sup, sub
{
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size: smaller;
}

sup { bottom: 1ex; }
sub { top: .5ex; }

/* align input elements and force pointer */
input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"]
{
	vertical-align: bottom;
	*vertical-align: baseline;
}

.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], button { cursor: pointer; }

/* avoid text-shadow in selections */
::-moz-selection
{
	background: #d0d;
	color: #fff;
	text-shadow: none;
}

::selection
{
	background: #d0d;
	color: #fff;
	text-shadow: none;
}

button
{
	width: auto;
	overflow: visible;
}

/* visibility classes */
.ir
{
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.hidden
{
	display: none;
	visibility: hidden;
}

.invisible { visibility: hidden; }

/*  clear fix (short version) */
.clear:after
{
	content: "";
	clear: both;
	display: block;
}

html[xmlns] .clear { display: block; }
