/* 
 * roots base layout grid
 */

body { color: #333; }

/* baseline grid : vertical 12xp grid */
body.grid_v { background-image: url('../img/grid-baseline.png'); }

/* skipnav should not be set invisible or hidden - only positioned outside the view */
#skipnav
{
	position: absolute;
	left: -1000px;
	top: -1000px;
}

#wrapper { }

.limiter
{
	margin: 0px auto;
	width: 961px;
}

/* raster : horizontal 24xp grid */
body.grid_h .limiter { background-image: url('../img/grid-raster.png'); }

/* drupal links */
ul.links li, ul.links li a { float: left; }

ul.links.inline, ul.links.inline li, ul.links.inline li a
{
	float: none;
	display: inline;
}
