/* 
 * roots html5 reset
 */

a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video
{
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	white-space: normal;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block !important; }

textarea
{
	font-family: inherit;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	margin: 0;
	padding: 0;
}

del, ins { text-decoration: none; }
ol, ul { list-style: none; }
nav ul { list-style-type: none; }

table
{
	border-collapse: separate;
	border-spacing: 0;
	background-color: transparent;
	width: auto;
	height: auto;
}

:focus { outline: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input, select
{
	vertical-align: middle;
	margin: 0;
}

/* deprecated tags */
applet, basefont, dir, font, isindex, menu, s, strike, u
{
	font-family: inherit;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	white-space: normal;
	vertical-align: baseline;
	text-decoration: inherit;
	text-align: left;
	color: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

dir, menu { list-style: none; }
nobr { white-space: normal; }
blink { text-decoration: none; }
marquee { overflow: visible; }
