/* 
 * sprout back end
 */

/**
 * console and status ============================================================
 */

div.messages
{
	margin: 6px 0;
	padding: 6px;
	color: #333;
	background-color: #eee;
	border: 6px solid #fff;
	-moz-box-shadow: #ddd 0 1px 3px;
	-webkit-box-shadow: #ddd 0 1px 3px;
}

table tr.warning th, div.warning
{
	color: #a84;
	background-color: #fff4c0;
}

table tr.error th, div.error
{
	color: #965;
	background-color: #ffe4e0;
}

table tr.ok th, table tr.info th, div.status
{
	color: #687;
	background-color: #ecf8f4;
}

div.warning { border-color: #fffce4; }
div.error { border-color: #fff8f4; }
div.status { border-color: #f8fffc; }

/**
 * primary tabs ===============================================================
 */

ul.primary-tabs
{
	overflow: hidden;
	height: 36px;
}

ul.primary-tabs li { padding: 3px; }

ul.primary-tabs li a
{
	padding: 1px 9px;
	border: 1px solid #eee;
	-webkit-transition: all 0.3s ease-out;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #aaa 0 1px 3px;
	-moz-box-shadow: #aaa 0 1px 3px;
	box-shadow: #666 0 2px 3px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(#eee, #ddd);
	background: linear-gradient(#eee, #ddd);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

ul.primary-tabs li a:hover
{
	background: #aaa;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#aaaaaa', EndColorStr='#999999', GradientType=0);
	color: #fff;
	text-decoration: none;
}

ul.primary-tabs li.active a, ul.primary-tabs li.active a.active { color: #333; }

/**
 * secondary tabs ===============================================================
 */

ul.secondary-tabs
{
	float: right;
	overflow: hidden;
	height: 36px;
}

ul.secondary-tabs li { padding: 3px; }

ul.secondary-tabs li a
{
	padding: 1px 9px;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease-out;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: transparent;
}

ul.secondary-tabs li a:hover
{
	background: #eee;
	border-color: #ccc #ddd #eee;
	text-decoration: none;
}

ul.secondary-tabs li a.active, ul.secondary-tabs li.active a
{
	-moz-box-shadow: #fff 0 1px 0;
	-webkit-box-shadow: #fff 0 1px 0;
	border-color: #999 #bbb #aaa;
	background: #bbb;
	color: #fff;
}

/**
 * pager ===============================================================
 */

.pager { font-weight: normal; }
.pager ul.pager-list { float: left; }
.pager ul.pager-links { float: right; }

.pager a, .pager li.pager-current
{
	margin: 2px;
	padding: 4px 9px;
	border: 1px solid transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: transparent;
}

.pager a:hover
{
	background: #eee;
	border-color: #ccc #ddd #eee;
}

.pager li.pager-current
{
	-moz-box-shadow: #fff 0 1px 0;
	-webkit-box-shadow: #fff 0 1px 0;
	border-color: #999 #bbb #aaa;
	background: #bbb;
	color: #fff;
}

/**
 * admin =============================================================
 */

.admin .right
{
	padding-left: 5px;
	float: right;
}

.admin .left
{
	padding-right: 5px;
	float: left;
}

.admin .right, .admin .left
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 49%;
	margin: 0;
}

/**
 * admin filter =============================================================
 */

#content dl.multiselect, #content dl.multiselect dt, #content dl.multiselect dd { margin: 0 10px 0 0; }

#content dl.multiselect select
{
	font-size: 11px;
	background: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #e8e8e8 #f0f0f0 #f8f8f8;
}

.admin-options
{
	background: #f8f8f8;
	line-height: 30px;
	height: 30px;
	padding: 9px;
	border: 1px solid #ddd;
	margin: 0 0 10px;
}

.admin-options label, .admin-options .form-item
{
	margin-right: 10px;
	float: left;
}

.admin-options .form-item
{
	padding: 0;
	border: 0;
}

/**
 * admin modules =============================================================
 */

.admin-dependencies, .admin-required { color: #666; }
.admin-disabled { color: #990; }
.admin-enabled { color: #090; }
.admin-missing { color: #900; }

/**
 * admin lists =======================================================
 */

.help-items ul li, .confirmation ul li, .item-list ul li, .prose .item-list li, .menu li
{
	float: none;
	display: block;
	padding: 4px 10px;
	border-bottom: 1px dotted #ccc;
}

.help-items ul li:last-child, .confirmation ul li:last-child, .item-list ul li:last-child, .prose .item-list li:last-child, .menu li:last-child { border-bottom: 0; }

.admin-list li a span.icon
{
	position: absolute;
	left: 10px;
	top: 10px;
}

.admin-list-compact li a span.icon { top: 2px; }

.node-type-list li, .admin-list li
{
	position: relative;
	padding: 9px 4px 9px 54px;
	margin: 0;
	border-bottom: 1px dotted #ccc;
}

.node-type-list li:last-child, .admin-list li:last-child
{
	padding-bottom: 10px;
	border: 0;
}

ul.node-type-list label { font-size: 15px; }

/**
 * admin icons ====================================================
 */

.admin-toolbar-menu span.icon, .menu span.icon, .admin-list span.icon, .links span.icon
{
	width: 32px;
	height: 32px;
	display: block;
	background-color: transparent;
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
}

.path-admin span.icon { background-position: 0 0; }

/* */
.path-admin-content span.icon { background-position: 0 0; }
.path-admin-content-book span.icon { background-position: 0 -32px; }
.path-admin-content-comment span.icon { background-position: 0 -64px; }
.path-admin-content-node span.icon { background-position: 0 -96px; }
.path-admin-content-types span.icon, .path-admin-content-node-type span.icon { background-position: 0 -128px; }
.path-admin-content-aggregator span.icon { background-position: 0 -160px; }
.path-admin-content-forum span.icon { background-position: 0 -192px; }
.path-admin-content-node-settings span.icon { background-position: 0 -224px; }
.path-admin-content-rss-publishing span.icon { background-position: 0 -256px; }
.path-admin-content-taxonomy span.icon { background-position: 0 -288px; }

/* */
.path-admin-user span.icon { background-position: -32px 0; }
.path-admin-user-rules span.icon { background-position: -32px -32px; }
.path-admin-user-permissions span.icon { background-position: -32px -64px; }
.path-admin-user-profile span.icon { background-position: -32px -96px; }
.path-admin-user-roles span.icon { background-position: -32px -128px; }
.path-admin-user-settings span.icon { background-position: -32px -160px; }
.path-admin-user-user span.icon { background-position: -32px -192px; }

/* */
.path-admin-reports span.icon { background-position: -64px 0; }
.path-admin-reports-dblog span.icon { background-position: -64px -32px; }
.path-admin-reports-hits span.icon { background-position: -64px -64px; }
.path-admin-reports-access-denied span.icon { background-position: -64px -96px; }
.path-admin-reports-page-not-found span.icon { background-position: -64px -128px; }
.path-admin-reports-referrers span.icon { background-position: -64px -160px; }
.path-admin-reports-search span.icon { background-position: -64px -192px; }
.path-admin-reports-pages span.icon { background-position: -64px -224px; }
.path-admin-reports-visitors span.icon { background-position: -64px -256px; }
.path-admin-reports-settings span.icon { background-position: -64px -288px; }
.path-admin-reports-updates span.icon { background-position: -64px -320px; }
.path-admin-reports-status span.icon { background-position: -64px -352px; }

/* */
.path-admin-build span.icon { background-position: -96px 0; }
.path-admin-build-block span.icon { background-position: -96px -32px; }
.path-admin-build-contact span.icon { background-position: -96px -64px; }
.path-admin-build-menu span.icon, .path-admin-build-menu-customize span.icon { background-position: -96px -96px; }
.path-admin-build-modules span.icon { background-position: -96px -128px; }
.path-admin-build-themes span.icon { background-position: -96px -160px; }
.path-admin-build-translate span.icon { background-position: -96px -192px; }
.path-admin-build-trigger span.icon { background-position: -96px -224px; }
.path-admin-build-path span.icon { background-position: -96px -256px; }

/* */
.path-admin-settings span.icon { background-position: -128px 0; }
.path-admin-settings-actions span.icon { background-position: -128px -32px; }
.path-admin-settings-admin span.icon { background-position: -128px -64px; }
.path-admin-settings-blogapi span.icon { background-position: -128px -96px; }
.path-admin-settings-clean-urls span.icon { background-position: -128px -128px; }
.path-admin-settings-date-time span.icon { background-position: -128px -160px; }
.path-admin-settings-error-reporting span.icon { background-position: -128px -192px; }
.path-admin-settings-file-system span.icon { background-position: -128px -224px; }
.path-admin-settings-uploads span.icon { background-position: -128px -256px; }
.path-admin-settings-image-toolkit span.icon { background-position: -128px -288px; }
.path-admin-settings-filters span.icon { background-position: -128px -320px; }
.path-admin-settings-language span.icon { background-position: -128px -352px; }
.path-admin-settings-logging span.icon { background-position: -128px -384px; }
.path-admin-settings-performance span.icon { background-position: -128px -416px; }
.path-admin-settings-search span.icon { background-position: -128px -448px; }
.path-admin-settings-site-information span.icon { background-position: -128px -480px; }
.path-admin-settings-site-maintenance span.icon { background-position: -128px -512px; }
.path-admin-settings-throttle span.icon { background-position: -128px -544px; }

/* */
.path-node-add span.icon { background-position: -160px -0; }
.path-node-add-blog span.icon { background-position: -160px -32px; }
.path-node-add-book span.icon { background-position: -160px -64px; }
.path-node-add-forum span.icon { background-position: -160px -96px; }
.path-node-add-page span.icon { background-position: -160px -128px; }
.path-node-add-poll span.icon { background-position: -160px -160px; }
.path-node-add-story span.icon { background-position: -160px -192px; }

/**
 * forms ==============================================================
 */

.block, .item-list, .help-items ul, .form-item, .confirmation ul, .admin-list, .node-type-list, .admin-panel
{
	background: #fff;
	margin: 0 0 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #ddd #eee;
}

.form-item
{
	position: relative;
	padding: 9px;
}

.admin-list { margin: 0; }

.block .item-list, .block .form-item, .admin-panel .admin-list, .teaser-checkbox .form-item, .form-item .form-item, .fieldset .form-item, table .form-item
{
	background: transparent;
	padding: 5px;
	margin: 0;
	border: 0;
}

.block .item-list, .admin-panel .admin-list, .form-item .form-item-filter { padding: 0; }

.form-item label
{
	margin: 0;
	padding: 0;
	color: #666;
	font-weight: bold;
	font-size: 0.833em;
	text-transform: uppercase;
}

.form-item label.option
{
	text-transform: none;
	font-size: 11px;
}

.form-item label.option input { vertical-align: middle; }

#content .password-description, #content .password-strength, #content .description, #content .form-item .description
{
	line-height: 15px;
	font-size: 11px;
	white-space: normal;
}

.admin-panel p.description
{
	background: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	line-height: 20px;
	font-size: 11px;
	padding: 4px 9px 2px 18px;
	margin: 0;
}

.fieldset .description { margin: 0 0 10px; }

#content .form-item .description
{
	position: absolute;
	bottom: 100%;
	right: 10%;
	z-index: 5;
	color: #666;
	background: url('../img/back-popup.png') 50% 100% no-repeat;
	border-top: 1px solid #d8e4e0;
	width: 240px;
	margin: 0 0 -15px;
	padding: 9px 10px 20px;
	display: none;
}

#content .form-item:hover
{
	z-index: 1;
	height: auto;
}

#content .form-item:hover > .description { display: block; }

input.teaser-button, input.form-submit
{
	font-weight: normal;
	margin: 6px;
	padding: 4px 9px;
	border: 1px solid #eee;
	-webkit-transition: all 0.3s ease-out;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #aaa 0 1px 3px;
	-moz-box-shadow: #aaa 0 1px 3px;
	box-shadow: #666 0 2px 3px;
	background: #ddd;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(#eee, #ddd);
	background: linear-gradient(#eee, #ddd);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

input.teaser-button:hover, input.form-submit:hover
{
	background: #aaa;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#aaaaaa', EndColorStr='#999999', GradientType=0);
	color: #fff;
	text-decoration: none;
}

#edit-submit { border-color: rgba(0, 255, 0, 0.5); }
#edit-preview { border-color: rgba(0, 0, 0, 0.25); }
#edit-delete { border-color: rgba(255, 0, 0, 0.5); }
input.teaser-button:active, input.form-submit:active { color: #333; }

.teaser-checkbox
{
	position: relative;
	z-index: 2;
}

.teaser-checkbox div { margin: 5px 0; }

.filter-options .form-item, .filter-options .filter-help
{
	font-size: 11px;
	margin: 10px 10px 0 0;
	padding: 0;
	float: left;
}

.filter-options .form-item:hover > .description { display: none; }

input.form-autocomplete, input.form-text, textarea.form-textarea, select.form-select
{
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: #e8e8e8 #f0f0f0 #f8f8f8;
	background: #fff;
	color: #666;
	max-width: 100%;
}

input.form-autocomplete:hover, input.form-text:hover, textarea.form-textarea:hover, select.form-select:hover, input.form-autocomplete:focus, input.form-text:focus, textarea.form-textarea:focus, select.form-select:focus
{
	color: #333;
	border-color: #999;
}

input.fluid
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}

table input.fluid { width: auto; }
html.js input.form-autocomplete { background-position: 100% 7px; }
html.js input.throbbing { background-position: 100% -13px; }
#content .filter-options select { padding: 0; }

.fieldset
{
	margin: 0 0 12px;
	display: block;
}

.fieldset.titled
{
	display: block;
	position: relative;
	min-height: 30px;
}

.fieldset-title
{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #ddd #eee #fff;
}

.container-inline .fieldset-title .fieldset-content, .fieldset.titled .fieldset-content
{
	display: block;
	padding-top: 42px;
}

.item-list h3, .block .block-title, .admin-panel h3, .fieldset-title, .collapsible .fieldset-title a
{
	display: block;
	margin: 0;
	padding: 8px 18px 3px;
	background: #f2f2f2;
	text-decoration: none;
}

.fieldset-title, .collapsible .fieldset-title a { padding-bottom: 4px; }
.collapsible .fieldset-title a { height: 18px; }
.admin-panel h3 { background: #f2f2f2; }

.collapsible .fieldset-title span.icon
{
	position: absolute;
	left: -12px;
	top: 2px;
	background: url('../img/sprites.png') 0 0 no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	cursor: pointer;
}

html.js .collapsed .fieldset-title span.icon { background-position: 0 -24px; }
.fieldset .collapsible .fieldset-title span.icon { display: none; }

.collapsible .fieldset-title
{
	padding: 0;
	background: transparent;
}

.collapsed .fieldset-title a { padding-bottom: 4px; }

.block .block-content, .container-inline .fieldset-content, .fieldset-content
{
	display: block;
	padding: 10px 9px 9px;
	background: #fff;
}

.container-inline .fieldset-content, .fieldset-content
{
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #ddd #eee;
}

.titled .fieldset-content { border-width: 0 1px 1px; }
html.js .collapsed .fieldset-content { display: none; }
.fieldset .fieldset .fieldset-content { background: #fff; }

/**
 * misc =======================================
 */

.container-inline div
{
	display: inline;
	border: 0;
	padding: 0;
	background: transparent;
}

.container-inline { margin: 0 0 10px; }
.buttons .container-inline { margin: 0; }

.box-title
{
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	background: #eee;
	border: 1px solid #ddd;
	padding: 4px 9px;
	margin: 0 0 10px;
}

.help-items
{
	float: left;
	width: 25%;
}

.help-items ul { margin: 10px 5px; }

table, .block, .item-list, .help-items ul, .fieldset, .form-item, .admin-list, .node-type-list, .admin-panel, .pager a:hover, .confirmation ul
{
	-moz-box-shadow: #ddd 1px 1px 4px;
	-webkit-box-shadow: #ddd 1px 1px 4px;
}

.block .item-list, .block .form-item, .admin-panel .admin-list, .teaser-checkbox .form-item, .form-item .form-item, .fieldset .form-item, table .form-item
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
