/* 
 * sprout front end
 */

body, input, textarea, select { font-family: 'Droid Sans', 'Lucida', 'Lucida Grande', sans-serif; }

body
{
	color: #333;
	background: #1b1b1b url('../img/back-body-wood.jpg') 0 0 repeat-x;
}

/**
 * layout =============================================================
 */

.limiter { width: 985px; }
#console .limiter p { color: #fff; }

#page .limiter
{
	background-color: #fff;
	width: 961px;
	padding: 12px;
	margin: 12px auto;
	-webkit-box-shadow: #aaa 0 0 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#page_left
{
	float: left;
	width: 180px;
}

#page_main
{
	float: right;
	width: 756px;
}

#footer
{
	color: #fff;
	padding: 12px 0;
}

/**
 * tables =============================================================
 */

table { margin: 12px 0; }
.fieldset table { margin: 0; }

table td, table th
{
	border-width: 1px 0;
	border-style: solid;
	border-color: #aaa;
	padding: 5px;
}

table tr.selected td.active, table tr.selected td
{
	background: #ffc;
	border-color: #eeb;
}

table tr.region td { background: #f8f8f8; }

/**
 * logo =============================================================
 */

.site-name a
{
	-webkit-transition: all 0.3s ease-out;
	font-family: 'Nobile';
	color: #fff;
	font-size: 5em;
	text-shadow: 2px 2px 2px #000;
	text-decoration: none;
	letter-spacing: -3px;
}

.site-name a:hover { color: magenta; }

/**
 * navigation =============================================================
 */

#navigation ul { float: left; }

#navigation a
{
	margin: 0 12px 12px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	color: #fff !important;
	padding: 3px 9px;
	border: 1px solid #000;
	-webkit-transition: all 0.3s ease-out;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	background: #222;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#333), to(#111));
	background: -moz-linear-gradient(bottom, #333, #111);
/*
	background: linear-gradient(#333, #111);
*/
}

.ie6 #navigation a, .ie7 #navigation a { filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#111111); }
.ie8 #navigation a { -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#111111)'; }

#navigation a:hover
{
	color: magenta !important;
	text-decoration: none;
}

#navigation a.active, #navigation li.active a { border-color: #666; }

/**
 * nodes =============================================================
 */

form { margin: 12px 0; }

h1.page-title
{
	font-size: 2em;
	line-height: 1.0;
	font-weight: normal;
	margin-bottom: 12px;
	color: #aaa;
	text-shadow: 0 1px 0 #fff, 0 -1px 0 #999;
}

h2.node-title
{
	font-size: 1.5em;
	line-height: 1.0;
	font-weight: normal;
	margin-bottom: 12px;
}

.node { margin-bottom: 3em; }
p { margin-bottom: 1em; }

.prose p:last-child:after
{
	content: "●";
	color: #ccc;
	padding-left: 6px;
}

.node-links li:after, .comment-links li:after
{
	content: ':';
	color: #ccc;
	padding: 0 6px;
}

/**
 * comments =============================================================
 */

.comment { margin-bottom: 2em; }
div.indented { margin-left: 24px; }

h2.comment-title
{
	font-size: 1.5em;
	line-height: 1.0;
	font-weight: normal;
	margin-bottom: 12px;
}

.byline { font-style: italic; }

/**
 * breadcrumb =============================================================
 */

.breadcrumb-link
{
	float: left;
	text-transform: uppercase;
	font-weight: normal;
	text-shadow: #111 0 1px 0;
}

.breadcrumb-link:after
{
	content: ':';
	color: #666;
	padding: 0 6px;
}

.breadcrumb-link strong { font-weight: normal; }
